<div class="page-title">
  <h1>Lessons</h1>
</div>



<% @units.each do |unit| %>
  <h2><%= unit.name %></h2>
  <div class="unit-list sortable">
    <% sortable_fetch(unit.lessons) do |lesson, id_tag| %>
    <div class="unit" id="<%=id_tag%>">
      <div class="">
        <%= lesson.title %>
      </div>
      <div class="">
        <%= link_to "Edit", [:edit, lesson], class: "btn btn-default"  %>
        <%= link_to "Destroy", lesson, method: :delete, class: "btn btn-danger", data: {confirm: "Sure?"} %>
      </div>
    </div>
    <% end %>
  </div>
  <hr>
<% end %>
